{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block body %}
{% block content %}
<div class="col-md-12">
    <br />
    {{ utils.flashed_messages() }}
    <br />
    <div class="center">
        <h1>Register as a Leader</h1>
        <br />
        {{ wtf.quick_form(form) }}
    </div>
</div>
{% endblock %}
{% endblock %}