{% import "bootstrap/utils.html" as utils %}
{% extends "auth_base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
{% block form %}
<br />
{{ utils.flashed_messages() }}
<br />
<form class="login100-form validate-form" method="POST">
  <span class="login100-form-title p-b-49">
    Login
  </span>
  {{ form.hidden_tag() }}
  <div class="wrap-input100 validate-input m-b-23" data-validate="Email is required">
    <span class="label-input100">{{ form.email.label }}</span>
    {{ form.email (class="input100", placeholder="Type your email")}}
    <span class="focus-input100" data-symbol="&#xf206;"></span>
  </div>

  <div class="wrap-input100 validate-input" data-validate="Password is required">
    <span class="label-input100">{{ form.password.label }}</span>
    {{ form.password (class="input100", placeholder="Type your password")}}
    <span class="focus-input100" data-symbol="&#xf190;"></span>
  </div>

  <div class="text-right p-t-8 p-b-31">
    <a href="#">
      Forgot password?
    </a>
  </div>

  <div class="container-login100-form-btn">
    <div class="wrap-login100-form-btn">
      <div class="login100-form-bgbtn"></div>
      {{ form.submit (class="login100-form-btn")}}
    </div>
  </div>
  <div class="txt1 text-center p-t-54 p-b-20">
      <a href="{{ url_for('auth.member_register') }}">
        Register as Member
      </a>
    </div>
</form>
{% endblock form %}
{% endblock %}