{% import "bootstrap/utils.html" as utils %}
{% extends "auth_base.html" %}
{% block title %}Register{% endblock %}
{% block body %}
<br />
{{ utils.flashed_messages() }}
<br />
{% block form %}
<form class="login100-form validate-form" method="POST">
    {% if active == "register" %}
    <span class="login100-form-title p-b-49">
        Register as Member
    </span>
    {% else %}
    <span class="login100-form-title p-b-49">
            Update your details
        </span>
    {% endif %}
    {{ form.hidden_tag() }}
    <div class="wrap-input100 validate-input m-b-23" data-validate="Firstname is required">
        <span class="label-input100">{{ form.firstname.label }}</span>
        {{ form.firstname (class="input100", placeholder="Type your firstname")}}
        <span class="focus-input100" data-symbol="&#xf206;"></span>
    </div>

    <div class="wrap-input100 validate-input" data-validate="Lastname is required">
        <span class="label-input100">{{ form.lastname.label }}</span>
        {{ form.lastname (class="input100", placeholder="Type your lastname")}}
        <span class="focus-input100" data-symbol="&#xf190;"></span>
    </div>

    <div class="wrap-input100 validate-input" data-validate="registration_no is required">
        <span class="label-input100">{{ form.registration_no.label }}</span>
        {{ form.registration_no (class="input100", placeholder="Type your registration_no")}}
        <span class="focus-input100" data-symbol="&#xf190;"></span>
    </div>

    <div class="wrap-input100 validate-input" data-validate="Phone number is required">
        <span class="label-input100">{{ form.phone.label }}</span>
        {{ form.phone (class="input100", placeholder="Type your phone number")}}
        <span class="focus-input100" data-symbol="&#xf190;"></span>
    </div>

    <div class="wrap-input100 validate-input" data-validate="Email is required">
        <span class="label-input100">{{ form.email.label }}</span>
        {{ form.email (class="input100", placeholder="Type your email")}}
        <span class="focus-input100" data-symbol="&#xf190;"></span>
    </div>
    <br>
    <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            {{ form.submit (class="login100-form-btn")}}
        </div>
    </div>
    <div class="txt1 text-center p-t-54 p-b-20">
        <a href="{{ url_for('auth.login') }}">
            Login
        </a>
    </div>
</form>
{% endblock form %}
{% endblock %}