{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Departments{% endblock %}
{% block body %}
{% block content %}
<div class="col-md-12">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title ">Departments</h4>
              <p class="card-category"> These are all departments in KUCU</p>
            </div>
        {% if departments %}
          <hr class="intro-divider">
          <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                <tr>
                  <th> Name </th>
                  <th> Description </th>
                  <th> Member Count </th>
                  <th> Edit </th>
                  <th> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for department in departments %}
                <tr>
                  <td> {{ department.name }} </td>
                  <td> {{ department.description }} </td>
                  <td>
                    {% if department.members %}
                      {{ department.members.count() }}
                    {% else %}
                      0
                    {% endif %}
                  </td>
                  <td>
                    <a href="{{ url_for('admin.edit_department', id=department.id) }}" class="text-success">
                      <i class="fa fa-pencil"></i> Edit 
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_department', id=department.id) }}" class="text-danger">
                      <i class="fa fa-trash"></i> Delete 
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No departments have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_department') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Department
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% endblock %}

