{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}
{% block body %}
{% block content %}
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon">
                <i class="material-icons">people</i>
              </div>
              <p class="card-category">All Members</p>
              <h3 class="card-title">{{ total_members }}
              </h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons text-primary">people</i>View all members
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="material-icons">account_balance</i>
              </div>
              <p class="card-category">All Departments</p>
              <h3 class="card-title">{{ total_departments }}</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">account_balance</i> Departments count
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
              <div class="card-icon">
                <i class="material-icons">build</i>
              </div>
              <p class="card-category">All Roles</p>
              <h3 class="card-title">{{ total_roles }}</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">build</i> Leadership titles
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
              <div class="card-icon">
                <i class="fa fa-group"></i>
              </div>
              <p class="card-category">All leaders</p>
              <h3 class="card-title">{{ total_leaders }}</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">supervised_user_circle</i> Any leaders in KUCU
              </div>
            </div>
          </div>
        </div>
{% endblock %}
{% endblock %}
