{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block body %}
{% block content%}
<div class="col-md-12">
  <div class="center">
    <div class="card-header card-header-primary">
      <h1> Hello {{ member.firstname }} </h1>
    </div>
    <br />
    <div class="col-md-3">
      <span>Name</span>
      <h3>{{ member.firstname }}{{ member.lastname }}</h3>
    </div>
    <div class="col-md-3">
      <span>Registration Number</span>
      <h3>{{ member.registration_no }}</h3>
    </div>
    <div class="col-md-3">
      <span>Contact</span>
      <h3>{{ member.phone }}</h3>
    </div>
    <div class="col-md-3">
      <span>Email</span>
      <h3>{{ member.email }}</h3>
    </div>
    <div class="col-md-3">
      <span>Department</span>
      <h3>{{ member.department.name }}</h3>
    </div>
  </div>
  <div class="col-md-3">
    <span>Role</span>
    <h3>{{ member.role.name }}</h3>
  </div>
  <a href="{{ url_for('home.update_profile', id=current_user.id) }}">
  <button class="btn btn-primary">
      Update Profile
    </button>
  </a>
</div>
{% endblock %}
{% endblock %}