<DOCTYPE html>
<html lang="en">
<head><link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></head>
{% block title %}Forbidden{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <div style="text-align: center">
          <h1> 403 Error </h1>
          <h3> You do not have sufficient permissions to access this page or perform this action. </h3>
          <hr class="intro-divider">
          {% if current_user.is_authenticated %}
          {% if current_user.is_admin %}
          <a href="{{ url_for('home.admin_dashboard') }}" class="btn btn-default btn-lg"></a>
          {% else %}
          <a href="{{ url_for('home.{}_dashboard'.format((current_user.role.name).lower())) }}" class="btn btn-default btn-lg">
            {% endif %}
            {% else %}
            <a href="{{ url_for('auth.login') }}" class="btn btn-default btn-lg"></a>
            {% endif %}
            <i class="fa fa-home">Home</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
</html>