<DOCTYPE html>
  <html lang="en">

  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></head>
  {% block title %}Page Not Found{% endblock %}
  {% block body %}
  <div class="
      content-section">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <div style="text-align: center">
            <h1> 404 Error </h1>
            <h3> The page you're looking for doesn't exist. </h3>
            <hr class="intro-divider">
            {% if current_user.is_authenticated %}
            {% if current_user.is_admin %}
            <a href="{{ url_for('home.admin_dashboard') }}" class="btn btn-default btn-lg"></a>
            {% else %}
            <a href="{{ url_for('home.{}_dashboard'.format((current_user.role.name).lower())) }}" class="btn btn-default btn-lg">
              {% endif %}
              {% else %}
              <a href="{{ url_for('auth.login') }}" class="btn btn-default btn-lg"></a>
              {% endif %}
              <i class="fa fa-home">Home</i>
            </a>
          </div>
        </div>
      </div>
    </div>
    </div>
    {% endblock %}

  </html>