{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Budget{% endblock %}
{% block head%}
{{ super() }}
{% endblock %}
{% block body %}
{% block sidebar_wrapper %}
{{ super() }}
{% endblock sidebar_wrapper %}
{% block content%}
<div class="col-md-12">
    {{ utils.flashed_messages() }}
    <br />
    <div class="card">
      <div class="card-header card-header-primary">
        {% if budget_items %}
        <h3 class="card-title " style="text-align:center;">{{ budget.name }} Items</h3>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-info">
              <tr>
                <th> Name </th>
                <th> Description </th>
                <th> Price </th>
                <th> Quantity </th>
                <th> Amount </th>
                {% if not budget.is_submitted and current_user.department.name != 'KUCU' %}
                <th> Edit </th>
                <th> Delete </th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for budget_item in budget_items %}
              <tr>
                <td> {{ budget_item.name }} </td>
                <td> {{ budget_item.description }} </td>
                <td> {{ budget_item.price }} </td>
                <td> {{ budget_item.quantity }} </td>
                <td> {{ budget_item.amount }} </td>
                {% if current_user.department.category.name == 'committee' %}
                {% if not budget.is_submitted %}
                <td>
                  <a href="{{ url_for('home.edit_budget_items', id=budget_item.id) }}" class="text-success">
                    <i class="fa fa-pencil"></i> Edit
                  </a>
                </td>
                <td>
                  <a href="{{ url_for('home.delete_budget_items', id=budget_item.id) }}" class="text-danger">
                    <i class="fa fa-trash"></i> Delete
                  </a>
                </td>
                {% endif %}
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <hr class="intro-divider">
          {% if current_user.department.category.name == 'committee' %}
          {% if not budget.is_submitted %}
          <div style="text-align: center">
            <a href="{{ url_for('home.submit_budget', id=budget.id) }}" class="btn btn-default btn-lg">
              Submit Budget
            </a>
            <a href="{{ url_for('home.delete_budget', id=budget.id) }}" class="btn btn-default btn-lg">
                <i class="fa fa-trash"></i>
                Delete Budget
              </a>
          </div>
          {% endif %}
          {% endif %}
          {% if current_user.department.name == 'KUCU' and not budget.is_approved %}
          <div style="text-align: center">
          <a href="{{ url_for('home.approve_budget', id=budget.id) }}" class="btn btn-default btn-lg">
              <i class="fa fa-check"></i>
              Approve Budget
            </a>
            <a href="{{ url_for('home.review_budget', id=budget.id) }}" class="btn btn-default btn-lg">
                <i class="	fa fa-edit"></i>
                Review Budget
              </a>
            </div>
          {% endif %}
          {% else %}
          <div style="text-align: center">
              <h3> No budget items have been added. </h3>
              <a href="{{ url_for('home.delete_budget', id=budget.id) }}" class="btn btn-default btn-lg">
                  <i class="fa fa-trash"></i>
                  Delete Budget
                </a>
          </div>
          {% endif %}
          <div style="text-align: center">
              {% if current_user.department.name != 'KUCU' and not budget.is_submitted %}
              <hr class="intro-divider">
              <a href="{{ url_for('home.add_budget_items', id=budget.id) }}" class="btn btn-default btn-lg">
                <i class="fa fa-plus"></i>
                Add Items
              </a>
              {% endif %}
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% endblock %}