{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Budgets{% endblock %}
{% block head%}
{{ super() }}
{% endblock %}
{% block body %}
{% block sidebar_wrapper %}
{{ super() }}
{% endblock sidebar_wrapper %}
{% block content%}
<div class="col-md-12">
    {{ utils.flashed_messages() }}
    <br />
    <div class="card">
      <div class="card-header card-header-primary">
          {% if budgets %}
          <h3 class="card-title " style="text-align:center;">{{ department.name }} Budgets</h3>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-info">
            <tr>
              <th> Name </th>
              <th> Date Created </th>
              <th> Amount </th>
              <th> Status</th>
            </tr>
            </thead>
            <tbody>
              {% for budget in budgets %}
              {% if current_user.department.name == "KUCU" and budget.is_submitted %}
              <tr>
                <td>
                  <a href="{{ url_for('home.view_budget', id=budget.id) }}">
                    {{ budget.name }}
                  </a>
                </td>
                <td> {{ budget.date_created.strftime('%a %d, %b-%Y') }} </td>
                <td> {{ budget.amount }} </td>
                <td>
                  {% if budget.is_approved %}
                  <i class="fa fa-check badge badge-success"> Approved</i>
                  {% else %}
                  <i class="fa fa-clock-o badge badge-warning"> Pending</i>
                  {% endif %}
                </td>
              </tr>
              {% elif current_user.department.name != "KUCU" %}
              <tr>
                <td>
                  <a href="{{ url_for('home.view_budget', id=budget.id) }}">
                    {{ budget.name }}
                  </a>
                </td>
                <td> {{ budget.date_created.strftime('%a %d, %b-%Y') }} </td>
                <td> {{ budget.amount }} </td>
                <td>
                  {% if budget.is_approved %}
                  <i class="fa fa-check badge badge-success"> Approved</i>
                  {% elif not budget.is_approved and budget.is_submitted%}
                  <i class="fa fa-clock-o badge badge-warning"> Pending</i>
                  {% else %}
                  <i class="fa fa-exclamation-circle badge badge-danger"> Not Submitted</i>
                  {% endif %}
                </td>
              </tr>
              {% else %}
              <p>The {{ budget.department.name }} department has not submitted any budget</p>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div style="text-align: center">
          {% else %}
          <div style="text-align: center">
            <h3> No budgets have been added. </h3>
            <hr class="intro-divider">
            {% endif %}
            {% if current_user.department.name != 'KUCU' %}
            <a href="{{ url_for('home.add_budget', id=current_user.department.id) }}" class="btn btn-default btn-lg">
              <i class="fa fa-plus"></i>
              Add budget
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  {% endblock %}

  