{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Add Item{% endblock %}
{% block body %}
{% block content %}
<div class="col-md-12">
  <h3>Enter Budget Items</h3>
    {{ utils.flashed_messages() }}
    <br />
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}
{% endblock %}