{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Assign Member{% endblock %}
{% block body %}
{% block content%}
<div class="col-md-12">
  <div class="center">
    <h3>Member Details </h3>
    <br />
    <div class="col-md-3">
      <span>Name</span>
      <h3>{{ member.firstname }}{{ member.lastname }}</h3>
    </div>
    <div class="col-md-3">
      <span>Registration Number</span>
      <h3>{{ member.registration_no }}</h3>
    </div>
    <div class="col-md-3">
      <span>Contact</span>
      <h3>{{ member.phone }}</h3>
    </div>
    <div class="col-md-3">
      <span>Email</span>
      <h3>{{ member.email }}</h3>
    </div>
    <div class="col-md-3">
        <span>Department</span>
        <h3>{{ member.department.name }}</h3>
      </div>
      <div class="col-md-3">
          <span>Role</span>
          <h3>{{ member.role.name }}</h3>
        </div>
    <br />
    {% if current_user.is_superadmin %}
    <button class="btn btn-primary" href="url_for('admin.make_member_admin', id=member.id)">Make {{ member.firstname }} admin</button>
    {% if member.is_admin%}
    <button class="btn btn-primary" href="url_for('admin.revoke_admin_rights', id=member.id)">Revoke {{ member.firstname }} admin rights</button>
    {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}
{% endblock %}