{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Members{% endblock %}
{% block body %}
{% block content %}
<div class="col-md-12">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title ">Members</h4>
              <p class="card-category"> These are all members in KUCU</p>
            </div>
        {% if members %}
          <hr class="intro-divider">
          <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                <tr>
                  <th> Name </th>
                  <th> Department </th>
                  <th> Role </th>
                </tr>
              </thead>
              <tbody>
              {% for member in members %}
                {% if member.is_admin %}
                    <tr style="background-color: #aec251; color: white;">
                        <td> <i class="fa fa-key"></i> {{ member.firstname }} {{ member.lastname }} </td>
                        <td> N/A </td>
                        <td> Admin </td>
                    </tr>
                {% else %}
                    <tr>
                      <td> <a href="{{ url_for('admin.view_member', id=member.id) }}" class="text-info">{{ member.firstname }} {{ member.lastname }} </a></td>
                      <td>
                        {% if member.department %}
                          {{ member.department.name }}
                        {% else %}
                          -
                        {% endif %}
                      </td>
                      <td>
                        {% if member.role %}
                          {{ member.role.name }}
                        {% else %}
                          -
                        {% endif %}
                      </td>
                    </tr>
                {% endif %}
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
        </div>
      </div>
    </div>
{% endblock %}
{% endblock %}
