<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/apple-icon.png') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    {{ title }}
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="{{ url_for('static', filename='css/material-dashboard.css') }}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{{ url_for('static', filename='demo/demo.css') }}" rel="stylesheet" />
  {% endblock %}
</head>


<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="{{ url_for('static', filename='img/sidebar-1.jpg') }}">
      <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
  
          Tip 2: you can also add an image using data-image tag
      -->
      <div class="logo">
        {% if current_user.is_authenticated and not current_user.is_admin %}
        <a href="{{ url_for('home.{}_dashboard'.format(role_name.lower())) }}" class="simple-text logo-normal">
          <small>KENYATTA UNIVERSITY<br>CHRISTIAN UNION</small>
        </a>
        {% else %}
        <a href="{{ url_for('auth.login') }}" class="simple-text logo-normal"><small>KENYATTA UNIVERSITY<br>CHRISTIAN UNION</small></a>
        {% endif %}
      </div>
      {% block sidebar_wrapper %}
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item {% if active=='dashboard' %}active{% endif %}  ">
            {% if current_user.is_admin %}
            <a class="nav-link" href="{{ url_for('home.admin_dashboard') }}"><i class="material-icons">dashboard</i>
                <p>Dashboard</p></a>
              {% else %}
              <a class="nav-link" href="{{ url_for('home.{}_dashboard'.format(role_name.lower())) }}">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
              </a>
            {% endif %}
          </li>
          {% if current_user.role.name == "Treasurer" %}
          <li class="nav-item {% if active=='budgets' %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('home.list_budgets', id=current_user.department.id) }}">
              <i class="material-icons">work</i>
              <p>Budgets</p>
            </a>
          </li>
          {% endif %}
          {% if current_user.is_admin %}
          <li class="nav-item {% if active=='departments' %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('admin.list_departments') }}">
              <i class="material-icons">account_balance</i>
              <p>Departments</p>
            </a>
          </li>
          <li class="nav-item {% if active=='roles' %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('admin.list_roles') }}">
              <i class="material-icons">build</i>
              <p>Roles</p>
            </a>
          </li>
          <li class="nav-item {% if active=='members' %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('admin.list_members') }}">
              <i class="material-icons">group</i>
              <p>Members</p>
            </a>
          </li>
          {% endif %}
          <li class="nav-item {% if active=='notifications' %}active{% endif %}">
            <a class="nav-link" href="">
              <i class="material-icons">notifications</i>
              <p>Notifications</p>
            </a>
          </li>
          <li class="nav-item {% if active=='profile' %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('home.profile', id=current_user.id) }}">
              <i class="material-icons">person</i>
              <p>User Profile</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.logout') }}">
              <i class="fa fa-sign-out"></i>
              <p>Logout</p>
            </a>
          </li>
        </ul>
      </div>
      {% endblock sidebar_wrapper %}
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="{{ url_for('home.admin_dashboard') }}">Dashboard</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
              {% if current_user.is_admin and (active!=("notifications" and "profile" and "dashboard")) %}
              {% if active =="departments" %}
              <li class="nav-item">
                <a href="{{ url_for('admin.add_department')}}" class="nav-link">Add department</a>
              </li>
              {% elif active=="roles" %}
              <li class="nav-item">
                <a href="{{ url_for('admin.add_role')}}" class="nav-link">Add role</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a href="{{ url_for('auth.member_register')}}" class="nav-link">Add member</a>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('auth.leader_register')}}" class="nav-link">Add leader</a>
              </li>
              {% endif %}
              {% endif %}
              <li class="nav-item dropdown">
                <a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">
                    Account
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                  <a class="dropdown-item" href="{{ url_for('home.profile', id=current_user.id) }}">Profile</a>
                  <a class="dropdown-item" href="">Settings</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Log out</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            {% block content%}{% endblock %}
            <footer class="footer">
              <div class="container-fluid">
                <nav class="float-left">
                  <ul>
                    <li>
                      <a href="https://kuchristianunion.org">
                        KUCU
                      </a>
                    </li>
                    <li>
                      <a href="https://kuchristianunion.org">
                        About Us
                      </a>
                    </li>
                    <li>
                      <a href="https://kuchristianunion.org">
                        Blog
                      </a>
                    </li>
                    <li>
                      <a href="https://kuchristianunion.org">
                        Licenses
                      </a>
                    </li>
                  </ul>
                </nav>
                <div class="copyright float-right">
                  &copy;
                  <script>
                    document.write(new Date().getFullYear())
                  </script>, made with <i class="material-icons">favorite</i> by
                  <a href="https://kucu-developers-portfolio.firebaseapp.com/#/" target="_blank">KUCU developers</a>
                </div>
              </div>
            </footer>
          </div>
        </div>
        <!-- Customized js file -->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <!--   Core JS Files   -->
        <script src="{{ url_for('static', filename='js/core/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/bootstrap-material-design.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plugins/perfect-scrollbar.jquery.min.js') }}"></script>
        <!-- Plugin for the momentJs  -->
        <script src="{{ url_for('static', filename='js/plugins/moment.min.js') }}"></script>
        <!--  Plugin for Sweet Alert -->
        <script src="{{ url_for('static', filename='js/plugins/sweetalert2.js') }}"></script>
        <!-- Forms Validations Plugin -->
        <!-- <script src="{{ url_for('static', filename='js/plugins/jquery.validate.min.js') }}"></script> -->
        <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
        <!-- <script src="{{ url_for('static', filename='js/plugins/jquery.bootstrap-wizard.js') }}"></script> -->
        <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
        <script src="{{ url_for('static', filename='js/plugins/bootstrap-selectpicker.js') }}"></script>
        <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
        <script src="{{ url_for('static', filename='js/plugins/bootstrap-datetimepicker.min.js') }}"></script>
        <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
        <script src="{{ url_for('static', filename='js/plugins/jquery.dataTables.min.js') }}"></script>
        <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
        <!-- <script src="{{ url_for('static', filename='js/plugins/bootstrap-tagsinput.js') }}"></script> -->
        <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
        <script src="{{ url_for('static', filename='js/plugins/jasny-bootstrap.min.js') }}"></script>
        <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
        <script src="{{ url_for('static', filename='js/plugins/fullcalendar.min.js') }}"></script>
        <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
        <script src="{{ url_for('static', filename='js/plugins/jquery-jvectormap.js') }}"></script>
        <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
        <script src="{{ url_for('static', filename='js/plugins/nouislider.min.js') }}"></script>
        <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
        <!-- Library for adding dinamically elements -->
        <script src="{{ url_for('static', filename='js/plugins/arrive.min.js') }}"></script>
        <!-- Chartist JS -->
        <script src="{{ url_for('static', filename='js/plugins/chartist.min.js') }}"></script>
        <!--  Notifications Plugin    -->
        <script src="{{ url_for('static', filename='js/plugins/bootstrap-notify.js') }}"></script>
        <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
        <script src="{{ url_for('static', filename='js/material-dashboard.js') }}" type="text/javascript"></script>
        <!-- Material Dashboard DEMO methods, don't include it in your project! -->
        <script src="{{ url_for('static', filename='demo/demo.js') }}"></script>
        <script>
          $(document).ready(function () {
            // Javascript method's body can be found in assets/js/demos.js
            md.initDashboardPageCharts();

          });
        </script>
</body>

</html>