{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
{% if add_department %}
Add Role
{% else %}
Edit Role
{% endif %}
{% endblock %}
{% block body %}
{% block content %}
<div class="col-md-12">
    {% if add_role %}
    <h1>Add Role</h1>
    {% else %}
    <h1>Edit Role</h1>
    {% endif %}
    <br />
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}
{% endblock %}